.navbar ul {
  margin: 0;
  display: inline-block;
  border: 1px solid grey;
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 90%;
  margin-left: 0px;
}

.navbar li {
  color: white;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-weight: bold;
  text-align: right;
  font-size: 13px;
}

.navbar li:hover {
  background-color: red;
  border-radius: 8px;
}

.navbar a {
  text-decoration: none;
}
.searchbar {
  max-width: fit-content;
  margin-inline: auto;
  padding-right: 50%;
}

.searchbar input {
  border-radius: 5px;
  width: 120%;
  height: 250%;
  font-family: Arial, Helvetica, sans-serif;
}

.searchbar button {
  margin-left: 130%;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: black;
}